@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>
<p>
    This application lets you enter mathematical functions and plot their charts on a grid.
    It supports standard operators, parentheses, implicit multiplication, and a growing set of math
    functions and constants. You can type expressions in a natural way and immediately see the curve.
</p>
<p>
    Supported examples include:
</p>
<ul>
    <li><code>x^2 + 2*x + 1</code></li>
    <li><code>sin(x) + cos(x)</code></li>
    <li><code>sqrt(4 + x^2)</code></li>
    <li><code>abs(x) - 2</code></li>
    <li><code>log(10*x)</code></li>
    <li><code>2pi</code></li>
    <li><code>(2+1)(3+1)</code></li>
</ul>
<p>
    Useful functions include <code>sin</code>, <code>cos</code>, <code>tan</code>, <code>asin</code>,
    <code>acos</code>, <code>atan</code>, <code>sinh</code>, <code>cosh</code>, <code>tanh</code>,
    <code>sqrt</code>, <code>abs</code>, <code>log</code>, <code>ln</code>, <code>exp</code>,
    <code>min</code>, <code>max</code>, and <code>pow</code>.
</p>
