@{
    ViewBag.Title = "Web Chart Parser";
}

<div class="jumbotron">
    <h1>Web Chart Parser</h1>
    <p class="lead">Make chart from pattern</p>
</div>

<div class="row">
    <div class="col-md-12">
        <img src="/chart/draw/" style="width:100%;" id="imgchart" />
    </div>
    <div class="col-md-1">
       Expression
    </div>
    <div class="col-md-8">
        <input type="text" style="width:100%" id="pather"/>
    </div>
    <div class="col-md-1">
    <input type="button" id="clicker" value="draw" />
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <div class="col-md-1">
        Scale
    </div>
    <div class="col-md-3">
        <input type="number" step="0.5" min="1" style="width:100%" id="scale" value="10" />
    </div>
    <div class="col-md-2">
        Axis step
    </div>
    <div class="col-md-3">
        <input type="number" step="0.5" min="0.1" style="width:100%" id="axisStep" value="1" />
    </div>
</div>
